<footer class="footer">
        <div class="container">
            <a class="footer-brand " style="font-weight: 200px;">Ajayi Oluwafemi</a>
            <ul class="social-buttons float-right" >
                <li>
                    <a href="https://twitter.com/CreativeTim" class="btn btn-just-icon btn-link btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/CreativeTim" class="btn btn-just-icon btn-link btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/CreativeTimOfficial" class="btn btn-just-icon btn-link btn-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <!-- <div>
<p class="float-right">Drop a message <a href="#section-message" class="btn btn-info ">Message Me</a></p>
                </div> -->
                <div class="copyright float-right">
                        Drop a message <a href="#section-message" class="btn btn-info ">Message Me</a>
                      ©
                      <script>
                          document.write(new Date().getFullYear())
                      </script>2018, made 
                      <!-- <i class="material-icons">favorite</i> -->
                       by Femithz.
                  </div>
            </ul>
        </div>
      </footer>
<br><br><br>
<div class="main main-raised">
    <div class="team-4 section-image" style="background-image: url(../../assets/img/background.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">A big thank you to my family member at large Ajayi,Tayo and Ajasa </h2>
                    <h5 class="description">My Little Way of Saying a Big Thank you for been part of 2018, and for those in one way or the other are left out in the list below, i love you all...</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile">
                            <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img class="img" src="../../assets/img/alhaji.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"> Olayinka</h4>
                            <h6 class="card-category text-muted">Electrical Engineer</h6>
                            <p class="card-description">
                                Thank you so much big bro,you are a role model.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile">
                            <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img class="img" src="../../assets/img/awonuga-sheriff.jpg"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Awonuga Sheriff </h4>
                            <h6 class="card-category text-muted">Software Developer</h6>
                            <p class="card-description">
                                You are such a  Great personality, thank you sir.
                            </p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-3">
                        <div class="card card-profile">
                                <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../assets/img/emmanuel.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Pastor Emmanuel</h4>
                                <h6 class="card-category text-muted"></h6>
                                <p class="card-description">
                                    Thank you sir,for your spiritual advice all the time, i really appreciate..
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card card-profile">
                                    <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img" src="../../assets/img/adeniyi.jpg"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Tayo Adeniyi</h4>
                                    <h6 class="card-category text-muted">Journalist</h6>
                                    <p class="card-description">
                                            You are such a  wonderful personality,thank you.
                                    </p>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                            <div class="card card-profile">
                                    <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img" src="../../assets/img/rufus.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Fakayode Rufus</h4>
                                    <h6 class="card-category text-muted">Python Developer </h6>
                                    <p class="card-description">
                                        Finding a good friend is really a wonderful thing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-profile">
                                    <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img" src="../../assets/img/toyosi.jpg"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Amuludun Toyosi</h4>
                                    <h6 class="card-category text-muted">Ceo Owl Media</h6>
                                    <p class="card-description">
                                        You are such a  wonderful personality,<br> thank you sir.
                                    </p>
                                </div>
                            </div>
                        </div>   
                <div class="col-md-3">
                        <div class="card card-profile">
                                <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../../assets/img/sam.jpg"/>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Akinjisola Samuel</h4>
                                <h6 class="card-category text-muted">Graphic Designer</h6>
                                <p class="card-description">
                                        Finding a good friend is really a wonderful thing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card card-profile">
                                    <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img" src="../../assets/img/wunmi.jpg"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Olawunmi</h4>
                                    <h6 class="card-category text-muted"></h6>
                                    <p class="card-description">
                                            You are such a  wonderful personality, thank you so much.
                                    </p>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                            <div class="card card-profile">
                                    <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img" src="../../assets/img/bosun.jpg"/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Olulode  Olatunbosun</h4>
                                    <h6 class="card-category text-muted">Developer</h6>
                                    <p class="card-description">
                                            Finding a good friend is really a wonderful thing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card card-profile">
                                        <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img class="img" src="../../assets/img/ope.jpg"/>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">jimoh Opeoluwa</h4>
                                        <h6 class="card-category text-muted">Developer</h6>
                                        <p class="card-description">
                                                Finding a good friend is really a wonderful thing.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-3">
                                <div class="card card-profile">
                                        <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img class="img" src="../../assets/img/topmost.jpg"/>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Ariyo Temitope</h4>
                                        <h6 class="card-category text-muted">Chemist</h6>
                                        <p class="card-description">
                                                You are such a  wonderful personality, thanks man.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="card card-profile">
                                            <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="../../assets/img/drey.jpg"/>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Asamu David</h4>
                                            <h6 class="card-category text-muted">Ceo Dave Farm</h6>
                                            <p class="card-description">
                                                    You are such a  wonderful personality, thanks man.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="card card-profile">
                                                <div class="card-header card-header-image">
                                                <a href="#pablo">
                                                    <img class="img" src="../../assets/img/zainab.jpg"/>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Ola</h4>
                                                <h6 class="card-category text-muted"></h6>
                                                <p class="card-description">
                                                        You are such a  wonderful personality, i cherish you girl.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                            
                            <div class="col-md-3">
                                    <div class="card card-profile">
                                            <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="../../assets/img/qudus.jpg"/>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Mr Qudus Oduwole</h4>
                                            <h6 class="card-category text-muted">Civic Engineer</h6>
                                            <p class="card-description">
                                                    You are such a  wonderful personality, thanks sir.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="card card-profile">
                                                <div class="card-header card-header-image">
                                                <a href="#pablo">
                                                    <img class="img" src="../../assets/img/jide.jpg"/>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Olajide Olanrewaju</h4>
                                                <h6 class="card-category text-muted">Developer</h6>
                                                <p class="card-description">
                                                        You are such a  wonderful personality, thanks man.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/olalu.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Olaoluwa</h4>
                                                    <!-- <h6 class="card-category text-muted">Developer</h6> -->
                                                    <p class="card-description">
                                                            You are such a  wonderful personality, thanks for your impact bro.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/dotman.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Dotman</h4>
                                                    <h6 class="card-category text-muted">Developer</h6>
                                                    <p class="card-description">
                                                            You are such a  wonderful personality, thank you sir.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/julipels.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Idowu Julius</h4>
                                                    <h6 class="card-category text-muted">Python Developer</h6>
                                                    <p class="card-description">
                                                            The most humbled personality have met.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/rehan-haiden.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Mr Rehan Haider</h4>
                                                    <h6 class="card-category text-muted">Developer</h6>
                                                    <p class="card-description">
                                                        You are such a  wonderful personality, thank you sir.
                                                    </p>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/larry.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Larry Sully</h4>
                                                    <h6 class="card-category text-muted">Developer</h6>
                                                    <p class="card-description">
                                                        You are such a  wonderful personality, thank you sir.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/lara.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Oshindele Omolara</h4>
                                                    <h6 class="card-category text-muted"></h6>
                                                    <p class="card-description">
                                                        You are such a  wonderful personality,<br> thank you sis.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/jude.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Marvin Jude</h4>
                                                    <h6 class="card-category text-muted">Developer</h6>
                                                    <p class="card-description">
                                                        You are such a  wonderful personality, thank you .
                                                    </p>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/adesewa.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Adeniran Adesewa</h4>
                                                    <h6 class="card-category text-muted"></h6>
                                                    <p class="card-description">
                                                        You are such a  wonderful personality, thank you so much.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card card-profile">
                                                    <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="../../assets/img/dan.jpg"/>
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Amoka Daniel</h4>
                                                    <h6 class="card-category text-muted">Designer & Developer</h6>
                                                    <p class="card-description">
                                                        Finding a good friend is really a wonderful thing.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>   
            </div>
        </div>
    </div>
 <br><br>
            <div class="contactus-1 section-image" id="section-message" style="background-image: url(../../assets/img/love.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="title">Get in Touch</h2>
                            <h5 class="description">
                                Tell me what you wish i could change in this new year,and any other things...
                            </h5>
      
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Give me a ring</h4>
                                    <p> Femithz
                                        <br> +234 81 450 195 60
                                        <!-- <br> Mon - Fri, 8:00-22:00 -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ml-auto">
                            <div class="card card-contact">
                                <form [formGroup]="messageForm">
                                    <div class="card-header card-header-raised card-header-primary text-center">
                                        <h4 class="card-title">Contact Me</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="bmd-label-floating">Name</label>
                                                    <input type="text" formControlName="name" class="form-control">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group label-floating is-empty">
                                            <label class="bmd-label-floating">Email address</label>
                                            <input type="email" formControlName="email" class="form-control">
                                            <span class="material-input"></span>
                                        </div>
                                        <div class="form-group label-floating is-empty">
                                            <label for="exampleMessage1" class="bmd-label-floating">Your Message</label>
                                            <textarea formControlName="message" class="form-control" id="exampleMessage1" rows="6"></textarea>
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer justify-content-between">
                                        <button type="submit" (click)="sendMessage()" class="btn btn-primary pull-right">Send Me Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
<footer class="footer">
  <div class="container">
      <a class="footer-brand" href="#material-kit">Femithz</a>
      <ul class="social-buttons float-right" >
          <li>
              <a href="https://twitter.com/CreativeTim" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/CreativeTim" class="btn btn-just-icon btn-link btn-dribbble">
                  <i class="fa fa-dribbble"></i>
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/CreativeTimOfficial" class="btn btn-just-icon btn-link btn-instagram">
                  <i class="fa fa-instagram"></i>
              </a>
          </li>
          <div class="copyright float-right">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>2018, made 
                <!-- <i class="material-icons">favorite</i> -->
                 by Femithz.
            </div>
      </ul>
  </div>
</footer>
<!-- </div> -->
